/* var scss */

// size width
$siteWidth: 1280px;

// text size
$fontSizeSmall: 1.4rem;
$fontSizeNormal: 1.6rem;
$fontSizeMid: 1.8rem;
$fontSizeBig: 2rem;

// title text
$titleFontSizeSmall: 2.4rem;
$titleFontSizeNormal: 2.8rem;
$titleFontSizeMid: 3.2rem;
$titleFontSizeBig: 4.2rem;

$titleFontSizeBigger : 5rem;
$titleFontSizeVeryBig: 6rem;

// font color
$fontColorBasic : #222;
$fontColorHover : #1b71d0;
$fontColorSub : #888;

// btn black
$buttonColorBlack : #222;

// color primary
$colorPrimary : #3c5fbf;

// border Hover
$borderColorHover : #1b71d0;

// footer bg
$footerBg : #0c2340;