/* var scss */
/* initial scss */
/* var scss */
* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
  color: #222;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: normal;
  font-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

img {
  vertical-align: middle;
  border: none;
}

button,
input {
  outline: none;
  border: none;
  background: none;
}

/* common scss */
/* var scss */
/* z- index

.top_btn : 350;
header : 300;
.submenu : 400;
.submenu_Bg : 10;

*/
body {
  padding-top: 90px;
}

.inner {
  width: 1280px;
  margin: 0 auto;
}

.top_btn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  border-radius: 100%;
  line-height: 60px;
  text-align: center;
  color: #fff;
  background: #333;
  border: 1px solid #333;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 350;
}

.top_btn:hover {
  color: #333;
  background: #fff;
}

.top_btn:hover:after {
  border-color: #333;
}

.top_btn:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 50%;
  border-top: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 7px;
  height: 7px;
}

/* header */
header {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 300;
  /* logo */
  /* nav */
  /* search */
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #logo {
  -ms-flex-preferred-size: 130px;
      flex-basis: 130px;
}

header #logo h1 {
  line-height: 87px;
}

header nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav > ul > li {
  position: relative;
  margin: 0 30px;
  line-height: 87px;
}

header nav > ul > li:hover > a {
  color: #1b71d0;
}

header nav > ul > li:hover:after {
  width: 100%;
  left: 0;
}

header nav > ul > li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0%;
  height: 3px;
  background: #1b71d0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav > ul > li > a {
  position: relative;
  display: inline-block;
  height: 100%;
  font-size: 1.6rem;
}

header nav > ul > li .submenu {
  display: none;
  position: absolute;
  top: 90px;
  padding: 20px 0 30px;
  z-index: 400;
}

header nav > ul > li .submenu li {
  width: 140%;
  line-height: 30px;
  margin-bottom: 10px;
}

header nav > ul > li .submenu a {
  font-size: 1.6rem;
}

header nav > ul > li .submenu a:hover {
  color: #1b71d0;
  text-decoration: underline;
}

header .search {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  height: 40px;
  margin-top: 20px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  background: #d1def5;
}

header .search button {
  cursor: pointer;
}

header .search button img {
  padding: 0 10px;
}

header .search input {
  width: 160px;
  line-height: 40px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .search input::-webkit-input-placeholder {
  color: #1b71d0;
}

header .search input:-ms-input-placeholder {
  color: #1b71d0;
}

header .search input::-ms-input-placeholder {
  color: #1b71d0;
}

header .search input::placeholder {
  color: #1b71d0;
}

header .submenu_bg {
  position: absolute;
  display: none;
  top: 90px;
  width: 100%;
  height: 300px;
  background: #dfecfd;
  z-index: 10;
}

/* footer */
footer {
  background: #0c2340;
  padding: 60px 0;
}

footer .ftop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #333;
}

footer .ftop .side_img {
  width: 30%;
}

footer .ftop .side_img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .ftop .side_img ul li {
  margin-left: 60px;
  width: 20%;
  text-align: right;
}

footer .ftop .side_img ul li a img {
  width: 100%;
}

footer .fbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .fbottom .left ul li {
  font-size: 1.4rem;
  color: #888;
}

footer .fbottom .left ul li span {
  margin-right: 10px;
}

footer .fbottom .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .fbottom .right ul li {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

footer .fbottom .right ul li:first-child a img {
  width: 12px;
}

footer .fbottom .right ul li:nth-child(3) a img {
  width: 14px;
}

footer .fbottom .right ul li a img {
  width: 20px;
  opacity: 0.7;
}

.on {
  display: block !important;
}

@media screen and (max-width: 1296px) {
  .inner {
    min-width: 1265px;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 1265px) {
  html,
  body {
    min-width: 1265px;
  }
}

/* main scss */
#main_banner .slick_wrap {
  position: relative;
}

#main_banner .slick_wrap .slick {
  position: relative;
}

#main_banner .slick_wrap .slick img {
  width: 100%;
}

#main_banner .slick_wrap .slick .text {
  position: absolute;
  top: 30%;
  right: 12%;
  color: #fff;
}

#main_banner .slick_wrap .slick .text h2 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 68px;
  margin-bottom: 14px;
}

#main_banner .slick_wrap .slick .text p {
  font-size: 2.4rem;
  line-height: 32px;
}

#main_banner .slick_wrap .slick-arrow {
  position: absolute;
  width: 40px;
  height: 75px;
  text-indent: -9999px;
  background-size: contain;
  z-index: 350;
  cursor: pointer;
}

#main_banner .slick_wrap .slick-prev {
  top: 40%;
  left: 20px;
  background: url("../img/main/btn_prev.png");
}

#main_banner .slick_wrap .slick-next {
  top: 40%;
  right: 20px;
  background: url("../img/main/btn_next.png");
}

/* section style */
section {
  padding: 60px 0;
}

section .title h3 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
}

section .title h4 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6;
}

section .title p {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 40px;
}

section .btn_black a {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 40px;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  background: #222;
}

/* section #why */
#why {
  padding: 120px 0;
  background: #f1f1f1;
}

#why .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#why .text .compare .date {
  font-size: 1.6rem;
}

#why .text .compare .list {
  margin-bottom: 20px;
}

#why .text .compare .list:after {
  content: '';
  display: block;
  clear: both;
}

#why .text .compare .list .brand {
  float: left;
}

#why .text .compare .list .brand .line {
  width: 320px;
  height: 8px;
  background: #3c5fbf;
  border-radius: 4px;
  margin: 16px 20px 10px 0;
}

#why .text .compare .list .brand .name {
  font-size: 1.6rem;
}

#why .text .compare .list .score {
  float: left;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

#why .text .compare .list .score .num {
  font-size: 4.2rem;
  line-height: 1.2;
  color: #3c5fbf;
}

#why .text .compare .list .score .num_text {
  font-size: 1.8rem;
}

#why .text .compare .list.other .brand .line {
  width: 280px;
  background: #ccc;
}

#why .text .compare .list.other .brand .line.b_brand {
  width: 220px;
}

#why .text .compare .list.other .brand .line.c_brand {
  width: 140px;
}

#why .text .compare .list.other .brand .name {
  color: #888;
}

#why .text .compare .list.other .score {
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

#why .text .compare .list.other .score .num {
  font-size: 1.6rem;
  color: #888;
}

#why .main_img {
  background: url("../img/main/section01_img.png");
  width: 33.3333%;
  height: 738px;
}

#why .award {
  width: 33.3333%;
  padding-top: 180px;
}

#why .award .list {
  padding: 30px 0;
}

#why .award .list:after {
  content: '';
  display: block;
  clear: both;
}

#why .award .list:first-child {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

#why .award .list:first-child p {
  margin-right: 40px;
}

#why .award .list p {
  float: left;
  font-size: 2rem;
}

#why .award .list p strong {
  color: #3c5fbf;
}

#why .award .list .award_img01 {
  float: left;
  background: url("../img/main/award01.png");
  width: 130px;
  height: 107px;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

#why .award .list .award_img02 {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 40px;
  background: url("../img/main/award02.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.section_top_title {
  text-align: center;
  padding: 120px 0 0;
}

.section_top_title h4 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 10px;
}

.section_top_title p {
  font-size: 1.4rem;
  color: #888;
}

.type_wrap {
  background: url("../img/main/main_bg.png");
  background-size: cover;
}

.typeA .inner:after,
.typeB .inner:after {
  content: '';
  display: block;
  clear: both;
}

.typeA .slide,
.typeB .slide {
  float: left;
  width: 50%;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.typeA .slide .slide01,
.typeB .slide .slide01 {
  position: relative;
  margin-bottom: 60px;
}

.typeA .slide .slide01 .swiper-pagination,
.typeB .slide .slide01 .swiper-pagination {
  position: absolute;
  top: 62%;
  left: -23%;
}

.typeA .slide .slide01 .swiper-pagination .swiper-pagination-bullet,
.typeB .slide .slide01 .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.typeA .slide .slide01 .swiper-pagination .swiper-pagination-bullet-active,
.typeB .slide .slide01 .swiper-pagination .swiper-pagination-bullet-active {
  background: #222;
}

.typeA .slide .slide_img,
.typeB .slide .slide_img {
  margin-bottom: 40px;
}

.typeA .slide .title h4,
.typeB .slide .title h4 {
  margin-bottom: 20px;
}

.typeA .slide .title p,
.typeB .slide .title p {
  margin-bottom: 20px;
}

.typeA .slide .title .btn_white,
.typeB .slide .title .btn_white {
  display: inline-block;
  font-size: 1.4rem;
  border: 1px solid #666;
  padding: 14px 40px;
}

.typeA .img_area,
.typeB .img_area {
  float: left;
  width: 50%;
}

.typeB .slide {
  position: relative;
  padding-left: 160px;
}

.typeB .slide .slide01 {
  margin-top: 180px;
}

.typeB .slide .slide01 .swiper-pagination {
  top: 68%;
  left: -10%;
}

.typeB .slide .slide01 .swiper-pagination .swiper-pagination-bullet {
  background: #d1d1d1;
}

.typeB .slide .slide01 .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}

.typeB .slide > .title {
  position: absolute;
  top: -120px;
  left: 27px;
  z-index: 40;
}

.typeC {
  overflow: hidden;
  padding: 0;
  background: #f1f1f1;
}

.typeC .video {
  float: left;
  position: relative;
  width: 50%;
  padding-top: 40%;
}

.typeC .video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.typeC .title {
  float: left;
  padding-top: 10%;
  padding-left: 10%;
}

.typeC .title p {
  margin: 0;
}

.typeD {
  padding: 120px 0;
}

.typeD .title {
  margin-bottom: 60px;
}

.typeD .slide02 img {
  width: 100%;
}

.typeE {
  padding: 0;
}

.typeE .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
  text-align: center;
  padding: 100px 0;
  border-top: 1px solid #ccc;
}

.typeE .inner a {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.typeE .inner a .box h5 {
  font-size: 2rem;
  font-weight: 500;
  margin: 24px 0 16px;
}

.typeE .inner a .box p {
  font-size: 1.6rem;
  font-weight: 300;
}
